[submodule "sources/seedsigner-lvgl-screens"]
	path = sources/seedsigner-lvgl-screens
	url = https://github.com/kdmukAI-bot/seedsigner-lvgl-screens.git
[submodule "sources/cUR"]
	path = sources/cUR
	url = git@github.com:kdmukAI-bot/cUR.git
